@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
  margin: 0 auto;
  width: 95%;
}

@media (width >= 768px) {
  .custom-container {
    width: 760px;
  }
}

@media (width >= 1024px) {
  .custom-container {
    width: 1000px;
  }
}
